
# Backend
# Frontend
# Solana
**/*.rs.bk
*.bak
*.keypair
*.log
*.so
.DS_Store
.anchor
.env
.idea
.vscode
.yarn
app/.env
app/dist
app/node_modules
backend/.env
backend/.env.bak
backend/node_modules
build
dist
node_modules
target
test-ledger
